!------------------------------------------------------!
! file: ~/.Xresources                                  !
! author: Eric Slehofer - eikitalar@gmail.com          !
! modified: February 2011                              !
! vim:enc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:    !
!------------------------------------------------------!


!Theme Eight
*background: rgb:10/10/10
*foreground: rgb:d3/d3/d3
*color0:     rgb:10/10/10
*color1:     rgb:cd/5c/5c
*color2:     rgb:2e/8b/57
*color3:     rgb:f0/e6/8c
*color4:     rgb:b0/c4/de
*color5:     rgb:ba/55/d3
*color6:     rgb:46/82/b4
*color7:     rgb:d3/d3/d3
*color8:     rgb:4d/4d/4d
*color9:     rgb:ff/6a/6a
*color10:    rgb:8f/bc/8f
*color11:    rgb:ff/fa/cd
*color12:    rgb:1e/90/ff
*color13:    rgb:db/70/93
*color14:    rgb:5f/9e/a0
*color15:    rgb:ff/ff/ff

!!!URxvt appearance settings!!!
URxvt**title:		"So say we all..."
URxvt**buffered:	true
\URxvt**geometry:	100x40
!URxvt**background:	black
!URxvt**foreground:	white
URxvt**jumpScroll:	false
URxvt**skipScroll:	false
!URxvt**iconFile:	file
!URxvt**borderColor:		
URxvt**font:		xft:Monospace:pixelsize=10
URxvt**scrollBar:	false
URxvt**scrollTtyOutput:	false
URxvt**saveLines:	2000
URxvt**borderLess:	true
URxvt**externalBorder:	0
URxvt**internalBorder:	3
URxvt**cursorBlink:	true
URxvt**cursorUnderline:	true
!URxvt**transparent:	true
!URxvt**fading:		80
!URxvt**tintColor:	blue


!!!URxvt perl extensions!!!
URxvt**pearl-ext-common:default,matcher,tabbed
URxvt**urlLauncher:	/usr/bin/chromium
URxvt**matcher.button:	1
